.buttonSelectRead1 {
    background-color: #9deaf8;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-color: red;
}
.buttonSelectRead2 {
    background-color: #71ee77;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-color: red;
}
.buttonSelectRead3 {
    background-color: #e76dd3;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-color: red;
}
