.sel_arrow {
  background:
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_white {
  background-color: white;
  border: solid 1px black;
  color: black;
}

.background-sky {
  background-color: #E6F8F9;
}

.pagination {
  border-radius: 0; 
  padding: 0; 
  margin: 0
}

.pagination ul { 
  display: inline-block; 
  *display: inline; 
  *zoom: 1; 
  margin-left: 0; 
  margin-bottom: 0; 
  padding: 0; 
}

.pagination li { 
  display: inline; 
  float: left; 
  padding: 0 18px; 
  line-height: 40px; 
  text-decoration: none; 
  border: 3px solid #24182e; 
  border-left-width: 0; 
  background: #24182e;
  color: #fff;
  font-weight: 600;
}

.pagination li:first-child { 
  border-left-width: 3px; 
}

.pagination li:hover {
  background-color: #F5325C; 
  color: #fff 
}

.pagination .active {
  background-color: #F5325C;
  color: #fff; 
  cursor: default; 
}

.search-bar {
  background-color: #E6F8F9;
}
 
.search-select {
  width: 150px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 14px 0 13px 20px;
  margin: 0;
}

.search-input {
  width: 500px;
  background-color: white;
  color: black;
  padding: 13px 40px;
}

.search-button {
  width: 100px;
  padding: 16px 0 !important;
  font-size: 14px !important;
}

.item-wrap {
  width: 25%;
  height: 300px;
}