.search_bar {
  background-color: #e6f8f9;
}
.search-select {
  width: 150px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 14px 0 13px 20px;
  margin: 0;
}
.search-input {
  width: 500px;
  background-color: white;
  color: black;
  padding: 13px 40px;
  margin: 0;
}
.search-button {
  width: 100px;
  padding: 16px 0 !important;
  font-size: 14px !important;
  margin-top: 50px;
}
